@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&family=Red+Hat+Mono&display=swap');


body {
    width: 99vw;
    height: 95vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(216, 230, 217);
}

.calculatorbody{
    padding: 10px;
    border-width: 5px;
    border-style: outset;
    border-color: rgb(108, 179, 189);
    border-radius: 15px;
    width: fit-content;
    height: fit-content;
    background-color: rgb(220, 235, 235);
    box-shadow: 5px 5px 5px rgb(99, 151, 124);
}

.topsection {
    margin-top: 10x;
    padding-top: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 420px;
    height: 135px;
    background-color: rgb(109, 121, 121);
}

.name {
    padding-left: 3px;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 24px;
    color: rgb(166, 242, 255);
    font-family: 'Orbitron', sans-serif;
}

.name > strong {

    color: rgb(52, 196, 221);
    font-weight: 500;
}

.display {
    height: 46px;
    margin: 20px;
    margin-top: 10px;
    padding-right: 10px;
    font-size: 36px;
    text-align: right;
    border-style: inset;
    border-color: gray;
    background-color: rgb(226, 226, 207);
    font-family: 'Red Hat Mono', monospace;
    color: rgb(77, 129, 129);
    box-shadow: inset 4px 4px 2px rgb(164, 170, 143);
}

.buttongrid {
    width: 400px;
    padding: 10px;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 80px 80px 80px 80px 80px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    color: rgb(11, 58, 59);
    border-radius: 5px;
    border-style:outset;
    border-color:rgb(107, 149, 155);
    background-color: rgb(177, 221, 223);
    box-shadow: 4px 4px 4px rgb(146, 175, 177);
}

.btn > div {
    user-select: none;
}


.num {
    background-color: rgb(51, 187, 192);
    color: white;
    border-color:rgb(75, 131, 131);
}

.clr {
    color: rgb(59, 11, 11);
    background-color:rgb(255, 159, 159);  
    border-color:rgb(134, 100, 100);
}
.btn > div {
    font-size: 24px;
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
}

.operator > div {
    font-size: 36px;
    font-weight: 400;
}



.row1 {
    grid-row: 1;
}
.row2 {
    grid-row: 2;
}
.row3 {
    grid-row: 3;
}
.row4 {
    grid-row: 4;
}
.row5 {
    grid-row: 5;
}
.col1 {
    grid-column: 1;
}
.col2 {
    grid-column: 2;
}
.col3 {
    grid-column: 3;
}
.col4 {
    grid-column: 4;
}
.col5 {
    grid-column: 5;
}
.row45 {
    grid-row: 4 / 2 span;
}
